<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafeHi.www.mapper.order.OrderMenuMapper">


    <resultMap type="com.cafeHi.www.order.dto.OrderMenu" id="OrderMenuResult">

        <id property="order_menu_code" column="ORDER_MENU_CODE"/>

        <result property="total_order_price" column="TOTAL_ORDER_PRICE"/>

        <result property="total_order_count" column="TOTAL_ORDER_COUNT"/>

        <result property="order_menu_writetime" column="ORDER_MENU_WRITETIME"/>

        <result property="order_menu_updatetime" column="ORDER_MENU_UPDATETIME"/>

        <result property="total_order_price_point" column="TOTAL_ORDER_PRICE_POINT"/>

        <result property="order_menu_status" column="ORDER_MENU_STATUS"/>

        <association property="menu" javaType="com.cafeHi.www.menu.dto.Menu">

            <result property="menu_code" column="MENU_CODE"/>

            <result property="menu_price" column="MENU_PRICE"/>

            <result property="menu_type" column="MENU_TYPE"/>

            <result property="menu_name" column="MENU_NAME"/>

            <result property="menu_explain" column="MENU_EXPLAIN"/>

            <result property="menu_img_path" column="MENU_IMG_PATH"/>

            <result property="menu_quantity" column="MENU_QUANTITY"/>

        </association>

        <association property="order" javaType="com.cafeHi.www.order.dto.Orders">
            <id property="order_code" column="ORDER_CODE"/>
            <result property="member_code" column="MEMBER_CODE"/>
            <result property="order_status" column="ORDER_STATUS"/>
            <result property="order_writetime" column="ORDER_WRITETIME"/>
            <result property="order_updatetime" column="ORDER_UPDATETIME"/>
            <result property="include_delivery" column="INCLUDE_DELIVERY"/>
        </association>


    </resultMap>

    <insert id="insertOrderMenu" parameterType="com.cafeHi.www.order.dto.OrderMenu">
        INSERT INTO cafehi_order_menu

        VALUES (seq_order_menu.nextval, seq_order.currval, #{menu.menu_code}, #{total_order_count},#{total_order_price}, #{total_order_price_point},
				#{order_menu_status}, #{order_menu_writetime}, #{order_menu_updatetime})

    </insert>

    <update id="cancelOrderMenu" parameterType="com.cafeHi.www.order.dto.OrderMenu">
        UPDATE cafehi_order_menu
        SET order_menu_status = #{order_menu_status}, order_menu_updatetime = #{order_menu_updatetime}
        WHERE order_menu_code = #{order_menu_code}
    </update>

    <select id="findOrderMenuList" parameterType="long" resultMap="OrderMenuResult">

		SELECT m.menu_code,
		       m.menu_name,
			   m.menu_price,
			   om.order_menu_code,
			   om.total_order_count,
			   om.total_order_price,
			   om.total_order_price_point,
			   o.include_delivery,
			   o.order_code,
			   o.order_status,
			   o.order_writetime,
			   o.order_updatetime
		FROM cafehi_order o
				 JOIN cafehi_order_menu om
					  ON o.order_code = om.order_code AND o.member_code = #{member_code}
				 JOIN cafehi_menu m
					  ON om.menu_code = m.menu_code

    </select>

</mapper>