<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.cafeHi.www.mapper.board.QnaMapper">
	
	<resultMap type="com.cafeHi.www.board.dto.QnADTO" id="QnAResult">
		<id property="qna_num" column="QNA_NUM" />
		<result property="qna_title" column="QNA_TITLE" />
		<result property="qna_title_classification" column="QNA_TITLE_CLASSIFICATION" />
		<result property="qna_content" column="QNA_CONTENT" />
		<result property="qna_writetime" column="QNA_WRITETIME" />
		<result property="qna_updatetime" column="QNA_UPDATETIME" />		
		<result property="qna_hit" column="QNA_HIT" />
		<result property="upload_path" column="UPLOAD_PATH" />
		<result property="store_file_name" column="STORE_FILE_NAME" />
		<result property="upload_file_name" column="UPLOAD_FILE_NAME" />
		<association property="member" javaType="com.cafeHi.www.member.dto.MemberDTO">
			<!-- 이 안에 필드 값이 명시되어 있지 않으면 resultMap 으로 값이 넘어가지 않는다. 주의!  -->
				<id column="MEMBER_CODE" property="member_code" javaType="int"/>   
				<result column="MEMBER_ID" property="member_id" javaType="String"/>			
		</association>
	</resultMap>
	
	<resultMap type="com.cafeHi.www.member.dto.MemberDTO" id="MemberResult">
		
		<id column="MEMBER_CODE" property="member_code" javaType="int"/>
		
		<result column="MEMBER_ID" property="member_id" javaType="String"/>

		<result column="MEMBER_PW" property="member_pw" javaType="String"/>
		
		<result column="MEMBER_NAME" property="member_name" javaType="String"/>
		
		<result column="MEMBER_CONTACT" property="member_contact" javaType="String"/>
		
		<result column="MEMBER_EMAIL" property="member_email" javaType="String"/>
		
		<result column="MEMBER_ROAD_ADDRESS" property="member_road_address" javaType="String"/>
		
		<result column="MEMBER_JIBUN_ADDRESS" property="member_jibun_address" javaType="String"/>
		
		<result column="MEMBER_DETAIL_ADDRESS" property="member_detail_address" javaType="String"/>
		
		<result column="ENABLED" property="enabled" javaType="String"/>
		
		<collection property="authList" javaType="com.cafeHi.www.member.dto.MemberAuthDTO" resultMap="AuthResult"> </collection>
  </resultMap>
  
  <resultMap  type="com.cafeHi.www.member.dto.MemberAuthDTO" id="AuthResult">

	<id column="MEMBER_AUTH_CODE" property="member_auth_code"/>
	
	<result column="MEMBER_AUTH_CODE" property="member_auth_code"/>
	
	<result column="MEMBER_CODE" property="member_code"/>
	
	<result column="MEMBER_AUTH" property="member_auth"/>
	
	</resultMap>

	<sql id="QnAsearch">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND qna_title like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND qna_content like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND member_id like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (qna_title like '%' || #{keyword} || '%') OR (qna_content like '%' || #{keyword} || '%')</if>
		</if>
	</sql>


	<!-- QnAEntity CRUD -->
	<insert id="writeQnA" parameterType="com.cafeHi.www.board.dto.QnADTO">
		INSERT INTO cafehi_qna (qna_num, qna_title, qna_title_classification, qna_writetime, qna_updatetime, qna_hit, member_code , qna_content, upload_path, store_file_name, upload_file_name)
		VALUES(seq_qna.nextval, #{qna_title}, #{qna_title_classification}, #{qna_writetime}, #{qna_updatetime}, #{qna_hit}, #{memberDTO.member_code}, #{qna_content}, #{upload_path}, #{store_file_name}, #{upload_file_name})
	</insert>

	<!-- 게시글 수정  -->
	<update id="modifyQnA" parameterType="com.cafeHi.www.board.dto.QnADTO">
		UPDATE cafehi_qna
		SET qna_title=#{qna_title}, qna_title_classification=#{qna_title_classification}, qna_content=#{qna_content}, qna_updatetime=#{qna_updatetime}, upload_path=#{upload_path}, store_file_name=#{store_file_name}, upload_file_name=#{upload_file_name}
		WHERE qna_num=#{qna_num}
	</update>

	<!--게시글 삭제-->
	<delete id="deleteQnA" parameterType="com.cafeHi.www.board.dto.QnADTO">
		DELETE FROM cafehi_qna WHERE qna_num = #{qna_num}
	</delete>


	<!--QnAEntity 게시글 수-->
	<select id="getQnASearchNum" resultType="int">
		SELECT COUNT(qna_num) FROM cafehi_qna cq, cafehi_member cm
		WHERE
		<![CDATA[
 		 qna_num > 0
 		]]>
		AND cq.member_code = cm.member_code
		<include refid="QnAsearch"></include>
	</select>

	<!--QnAEntity 게시글 리스트 -->
	<select id="getQnAList" resultMap="QnAResult">
		SELECT qna_num, qna_title,qna_title_classification, qna_content, qna_writetime, qna_hit, member_id
		FROM

		(
		SELECT qna_num, qna_title,qna_title_classification, qna_content, qna_writetime, qna_hit, cm.member_id,
		row_number() OVER(ORDER BY qna_num DESC) as rNum
		FROM cafehi_qna cq, cafehi_member cm
		WHERE cq.member_code = cm.member_code <include refid="QnAsearch"></include>
		) cqm

		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY qna_num DESC
	</select>

	<!--마이페이지 QnAEntity 게시글 수-->
	<select id="getMyQnANum" resultType="int">
		SELECT COUNT(qna_num) FROM cafehi_qna cq, cafehi_member cm
		WHERE
		<![CDATA[
 		 qna_num > 0
 		]]>
		AND cq.member_code = cm.member_code AND cm.member_code = #{member_code}
		<if test="scri.searchType != null">
			<if test="scri.searchType == 't'.toString()">AND qna_title like '%' || #{scri.keyword} || '%'</if>
			<if test="scri.searchType == 'c'.toString()">AND qna_content like '%' || #{scri.keyword} || '%'</if>
		</if>
	</select>

	<!--마이페이지 QnAEntity 게시글 리스트-->
	<select id="getMyQnAList" resultMap="QnAResult">
		SELECT qna_num, qna_title,qna_title_classification, qna_content, qna_writetime, qna_hit, member_id
		FROM

		(
		SELECT qna_num, qna_title,qna_title_classification, qna_content, qna_writetime, qna_hit, cm.member_code, cm.member_id,
		row_number() OVER(ORDER BY qna_num DESC) as rNum
		FROM cafehi_qna cq, cafehi_member cm
		WHERE cq.member_code = cm.member_code AND cm.member_code = #{member_code}

		<if test="scri.searchType != null">
			<if test="scri.searchType == 't'.toString()">AND qna_title like '%' || #{scri.keyword} || '%'</if>
			<if test="scri.searchType == 'c'.toString()">AND qna_content like '%' || #{scri.keyword} || '%'</if>
		</if>

		) cqm

		WHERE rNum BETWEEN #{scri.rowStart} AND #{scri.rowEnd}
		ORDER BY qna_num DESC
	</select>

	
	<select id="getQnA" resultMap="QnAResult">
	
		SELECT qna_num, qna_title, qna_title_classification, qna_content, qna_writetime, qna_updatetime, qna_hit, member_id, upload_path, store_file_name, upload_file_name 
		
		FROM cafehi_qna cq JOIN cafehi_member cm
		
		ON  cq.member_code = cm.member_code and cq.qna_num=#{qna_num}
		
	</select>
	



	<!-- 조회수 증가  -->
	<update id="modifyHit" parameterType="com.cafeHi.www.board.dto.QnADTO">
	UPDATE cafehi_qna SET qna_hit = qna_hit + 1 WHERE qna_num = #{qna_num} 
	</update>
	
	



</mapper>