<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!--  주문할 메뉴 수량 계산 js  -->
<script src="" th:src="@{/js/menu/teaCount.js}"></script>
</head>
<body>
<div th:insert="~{cafeHi_module/header :: cafeHiHeader}"></div>

<div th:replace="~{cafeHi_module/MessageCommon :: cafeHiMenuCommon}"></div>

<div th:replace="~{cafeHi_module/NavCommon :: cafeHiMenuNav}"></div>

<div class="w-50 m-auto mt-4">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList0.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList0.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList0.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList0.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get"> <!-- ?? 왜 form을 사용해놓고 get으로 넘겼지?  -->
                  <input type="hidden" th:name="menu_code" th:value="${teaList0.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList0.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount0" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form> 
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList0.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount0" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                  
                  <div id='teaCount0' class="m-1">0</div>
				
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList0("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList0("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList1.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList1.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList1.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList1.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList1.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList1.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount1" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList1.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount1" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                  
                   <div id='teaCount1' class="m-1">0</div>
				
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList1("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList1("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList2.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList2.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList2.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList2.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" method="get" th:action="@{/CafehiOrder}">
                  <input type="hidden" th:name="menu_code" th:value="${teaList2.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList2.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount2" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}"  method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList2.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount2" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount2' class="m-1">
                   0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList2("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList2("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList3.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList3.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList3.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList3.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                 <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList3.menu_code }">
                   <input type="hidden" th:name="returnPage" th:value="teaList">
                   <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList3.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount3" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList3.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount3" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount3' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList3("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList3("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList4.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList4.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList4.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList4.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList4.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList4.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount4" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList4.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount4" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount4' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList4("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList4("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList5.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList5.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList5.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList5.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList5.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList5.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount5" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList5.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount5" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount5' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList5("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList5("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList6.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList6.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList6.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList6.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList6.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList6.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount6" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList6.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount6" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount6' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList6("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList6("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList7.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList7.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList7.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList7.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList7.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList7.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount7" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList7.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount7" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount7' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList7("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList7("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList8.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList8.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList8.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList8.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList8.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList8.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount8" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList8.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount8" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount8' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList8("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList8("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList9.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList9.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList9.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList9.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList9.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList9.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount9" type="hidden" name="toOrderAmount" value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList9.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount9" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount9' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList9("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList9("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        
         <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList10.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList10.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList10.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList10.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList10.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList10.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount10" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList10.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount10" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount10' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList10("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList10("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>

 	<div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList11.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList11.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList11.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList11.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList11.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList11.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount11" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList11.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount11" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount11' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList11("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList11("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        
         <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList12.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList12.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList12.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList12.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList12.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList12.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount12" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList12.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount12" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount12' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList12("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList12("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        
         <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList13.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList13.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList13.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList13.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList13.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList13.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount13" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList13.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount13" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount13' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList13("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList13("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
	
		 <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${teaList14.menu_img_path}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${teaList14.menu_name }"></p>
              <p class="card-text text-center" th:text="${teaList14.menu_explain }"></p>
              <p class="card-text text-center" th:text="|${teaList14.menu_price }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menu_code" th:value="${teaList14.menu_code }">
                  <input type="hidden" th:name="returnPage" th:value="teaList">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${teaList14.getMenu_stock_quantity()}">
                  <input id="teaOrderAmount14" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menu_code" th:value="${teaList14.menu_code }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="teaCartAmount14" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='teaCount14' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList14("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countTeaList14("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
	
      </div>
      </div>


<div th:insert="~{cafeHi_module/footer :: cafeHiFooter}"></div>
</body>
</html>