<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!--  주문할 메뉴 수량 계산 js  -->
<script src="" th:src="@{/js/menu/sideCount.js}"></script>
</head>
<body>
<div th:insert="~{cafeHi_module/header :: cafeHiHeader}"></div>

<div th:replace="~{cafeHi_module/MessageCommon :: cafeHiMenuCommon}"></div>

<div th:replace="~{cafeHi_module/NavCommon :: cafeHiMenuNav}"></div>

<div class="w-50 m-auto mt-4">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${sideList0.menuImgPath}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${sideList0.menuName }"></p>
              <p class="card-text text-center" th:text="${sideList0.menuExplain }"></p>
              <p class="card-text text-center" th:text="|${sideList0.menuPrice }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menuId" th:value="${sideList0.menuId }">
                  <input type="hidden" th:name="returnPage" th:value="${sideList0.menuType }">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${sideList0.menuStockQuantity}">
                  <input id="sideOrderAmount0" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form> 
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menuId" th:value="${sideList0.menuId }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="sideCartAmount0" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                  
                  <div id='sideCount0' class="m-1">0</div>
				
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList0("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList0("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${sideList1.menuImgPath}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${sideList1.menuName }"></p>
              <p class="card-text text-center" th:text="${sideList1.menuExplain }"></p>
              <p class="card-text text-center" th:text="|${sideList1.menuPrice }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menuId" th:value="${sideList1.menuId }">
                  <input type="hidden" th:name="returnPage" th:value="${sideList1.menuType }">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${sideList1.menuStockQuantity}">
                  <input id="sideOrderAmount1" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menuId" th:value="${sideList1.menuId }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="sideCartAmount1" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                  
                   <div id='sideCount1' class="m-1">0</div>
				
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList1("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList1("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${sideList2.menuImgPath}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${sideList2.menuName }"></p>
              <p class="card-text text-center" th:text="${sideList2.menuExplain }"></p>
              <p class="card-text text-center" th:text="|${sideList2.menuPrice }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                <form action="" method="get" th:action="@{/CafehiOrder}">
                  <input type="hidden" th:name="menuId" th:value="${sideList2.menuId }">
                  <input type="hidden" th:name="returnPage" th:value="${sideList2.menuType }">
                  <input type="hidden" th:name="menu_stock_quantity" th:value="${sideList2.menuStockQuantity}">
                  <input id="sideOrderAmount2" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}"  method="post">
                  <input type="hidden" th:name="menuId" th:value="${sideList2.menuId }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="sideCartAmount2" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='sideCount2' class="m-1">
                   0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList2("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList2("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
			<img alt="" src="" th:src="@{ |${sideList3.menuImgPath}| }" width="100%" height="400">
            <div class="card-body">
            	
              <p class="card-text text-center" th:text="${sideList3.menuName }"></p>
              <p class="card-text text-center" th:text="${sideList3.menuExplain }"></p>
              <p class="card-text text-center" th:text="|${sideList3.menuPrice }원|"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                 <form action="" th:action="@{/CafehiOrder}" method="get">
                  <input type="hidden" th:name="menuId" th:value="${sideList3.menuId }">
                   <input type="hidden" th:name="returnPage" th:value="${sideList3.menuType }">
                   <input type="hidden" th:name="menu_stock_quantity" th:value="${sideList3.menuStockQuantity}">
                  <input id="sideOrderAmount3" type="hidden" th:name="toOrderAmount" th:value="0">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="구매하기"> &nbsp;
                </form>
                
                  <form action="" th:action="@{/insertCart}" method="post">
                  <input type="hidden" th:name="menuId" th:value="${sideList3.menuId }">
                  <input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }" />
                  <input id="sideCartAmount3" type="hidden" th:name="toCartAmount" th:value="0">
                  <div class="d-flex justify-content-between">
                  <input type="submit" class="btn btn-sm btn-outline-success" value="장바구니 담기">
                   <div id='sideCount3' class="m-1">
                  	0
					</div>
				<input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList3("plus")' value='+' /> &nbsp;
                  <input class="btn btn-sm btn-outline-success" type='button' onclick='countSideList3("minus")' value='-' />
                  </div>
                 
				</form>		                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>


<div th:insert="~{cafeHi_module/footer :: cafeHiFooter}"></div>
</body>
</html>